name: Compilar y sincronizar Integracion.pdf

on:
  push:
    paths:
      - '**.tex'
      - '**.bib'
      - '**.sty'
      - '**.cls'
      - '**.png'
      - '**.jpg'
      - '**.pdf'
      - '**.eps'
  workflow_dispatch:

permissions:
  contents: write  # Permite hacer push al repositorio

jobs:
  build: #Es solo el nombre
    runs-on: ubuntu-latest

    steps:
      - name: Entrar al repositorio (GitHub)
        uses: actions/checkout@v3

      - name: Instalar LaTeX y dependencias
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-latex-recommended texlive-latex-extra latexmk texlive-lang-spanish

      - name: Compilar archivo Integracion.tex
        run: latexmk -pdf -interaction=nonstopmode Integracion.tex

      - name: Verificar existencia de Integracion.pdf #Pendiente de quitar
        run: test -f Integracion.pdf

      - name: Configurar Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Subir Integracion.pdf al repositorio
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Primero actualiza desde remoto antes de hacer cambios locales
          git pull --rebase origin ${{ github.ref_name }}

          # Luego a침ade el nuevo PDF y haz commit
          git add Integracion.pdf
          git commit -m "Compilado autom치tico de Integracion.pdf a partir del commit ${{ github.event.head_commit.message }}" || echo "Sin cambios"
          
          # Finalmente, hace push
          git push https://x-access-token:${TOKEN}@github.com/${{ github.repository }} HEAD:${{ github.ref_name }}

      - name: Clonar repo de GitLab
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          git config --global user.name "Victor Garcia (GitHub Action)"
          git config --global user.email "victor.garcia@cimat.mx"

          # Clona el repositorio de GitLab
          git clone https://oauth2:${GITLAB_TOKEN}@gitlab.com/mackonde1/victorgarciads-site.git repo-gitlab

          # Elimina el PDF anterior
          rm -f repo-gitlab/assets/sources/Publications/Integral/Integracion.pdf

      - name: Commit and push removal
        run: |
          cd repo-gitlab
          git add -A
          git commit -m "GitHub Action para remover la versi칩n anterior de Integracion.pdf" || echo "Nothing to commit"
          git push origin main

      - name: Copy new PDF to GitLab repo
        run: |
          cp Integracion.pdf repo-gitlab/assets/sources/Publications/Integral/
          echo "copiado nuevo PDF"

      - name: Commit and push new PDF
        run: |
          cd repo-gitlab
          git add assets/sources/Publications/Integral/Integracion.pdf
          git commit -m "Se actualiz칩 Integracion.pdf desde GitHub Action a partir del commit ${{ github.event.head_commit.message }}"
          git push origin main
